<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Index</title>
</head>
<body>

    <h1>Superhero Delete</h1>

    <ul>
        
        <li>Name: {{single_hero.name}}</li>
        <li>Alter Ego: {{single_hero.alter_ego}}</li>
        <li>Primary Ability: {{single_hero.primary_ability}}</li>
        <li>Secondary Ability: {{single_hero.secondary_ability}}</li>
        <li>Catch Phrase; {{single_hero.catch_phrase}}</li>
        
    </ul>

        <form action="{% url 'superheroes:delete' single_hero.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete?">
        </form>


</body>
</html>