<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Superhero Details</h1>

    <table>
        <tr><td>Name:</td> <td>{{single_hero.name}}</td></tr>
        <tr><td>Alter Ego:</td> <td>{{single_hero.alter_ego}}</td></tr>
        <tr><td>Primary Ability:</td> <td>{{single_hero.primary_ability}}</td></tr>
        <tr><td>Secondary Ability:</td> <td>{{single_hero.secondary_ability}}</td></tr>
        <tr><td>Catch Pharse:</td> <td>{{single_hero.catch_phrase}}</td></tr>
    </table>

</body>
</html>